
                        <aside class="resume-aside col-12 col-lg-4 col-xl-3 px-lg-4 pb-lg-4">


                            {{ if .Site.Params.vita.education.enable }}
                            {{ partial "vita/education.html" . }}
                            {{ end }}

                            {{ if .Site.Params.vita.certificates.enable }}
                            {{ partial "vita/certificates.html" . }}
                            {{ end }}

                            {{ if .Site.Params.vita.information.enable }}
                            {{ partial "vita/information.html" . }}
                            {{ end }}

                            {{ if .Site.Params.vita.languages.enable }}
                            {{ partial "vita/languages.html" . }}
                            {{ end }}

                            {{ if .Site.Params.vita.interests.enable }}
                            {{ partial "vita/interests.html" . }}
                            {{ end }}

                        </aside><!--//resume-aside-->
