<div class="resume-intro py-3">

    <div class="media flex-column flex-md-row">


        <div class="media-body text-left">
            {{ if .Site.Params.vita.profile.avatar }}
            <img style="float: left; padding-bottom: 1em" class="resume-profile-image mb-3 mb-md-0 mr-md-5 ml-md-0 mx-auto"
                 src="{{ .Site.Params.vita.profile.avatar }}" alt="image">
            {{ end }}
            <div class="mb-0">{{ .Site.Params.vita.summary.text | markdownify }}</div>
        </div><!--//media-body-->

    </div>

</div><!--//resume-intro-->
